body {
  background-color: black;
}
.game-container {
  width: 1024px;
  height: 576px;
  position: relative;
  margin: 0 auto;
  transform: scale(1) translateY(10%);
}

.game-container canvas {
  image-rendering: pixelated;
}

.battleChange {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
