* {
  font-family: 'Press Start 2P', cursive;
}
body {
  background-color: black;
}

h1 {
  margin: 0;
  font-size: 16px;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
.battleChange {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.game-container {
  width: 1024px;
  height: 576px;
  position: relative;
  margin: 0 auto;
  outline: 1px solid white;
  transform: scale(1) translateY(10%);
}

.game-container canvas {
  image-rendering: pixelated;
}

.battle {
  display: flex;
  background-color: white;
  height: 102px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 4px black solid;
}

.attack {
  width: 66.66%;
}

.attacksBox {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.type {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 33.33%;
 border-left: 4px black solid;
}

button:hover {
  background-color: #ddd;
}

.health {
  position: absolute;
  background-color: white;
  width: 250px;
  top: 50px;
  left: 50px;
  border: 4px black solid;
  padding: 12px;
}

.bigHealth{
  position: relative;
}

.greyHealthBar {
  height: 5px;
  background-color: #ccc;
  margin-top: 10px;
}

.enemyHealth {
  height: 5px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.enemy {
  font-size: 16px;
}

.health1 {
  position: absolute;
  background-color: white;
  width: 250px;
  bottom: 125px;
  right: 50px;
  border: 4px black solid;
  padding: 12px;
}

.bigHealth1{
  position: relative;
}

.playerGreyHealth {
  height: 5px;
  background-color: #ccc;
  margin-top: 10px;
}

.playerHealth1 {
  height: 5px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.player1 {
  font-size: 16px;
}

.battleText {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  display: none;
  cursor: pointer;
}

.battleInterface {
  display: none;
}
